.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
    text-align: center;
    border-left: var(--border-default);
    border-right: var(--border-default);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    
    &__text {
        max-width: 63%;
        color: var(--grey-90);
        letter-spacing: -0.6%;
        line-height: 133%;  
    }

    &--wave-light {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-light.svg);
    }

    &--wave-textured {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-textured.svg);
    }

    &--wave-dark-sharp {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-dark-sharp.svg);
    }

    &--wave-smooth-green {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-smooth-green.svg);
    }
}