.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 0;
    text-align: center;
    border-left: var(--border-default);
    border-right: var(--border-default);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    &__text {
        color: var(--grey-90);
        letter-spacing: -0.6%;
        line-height: 150%;  
    }

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--wave-light {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-light.svg);

        & p {
            width: 63%;
        }
    }

    &--wave-textured {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-textured.svg);

        & p {
            width: 63%;
        }
    }

    &--wave-dark-sharp {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-dark-sharp.svg);

        & p {
            width: 63%;
        }
    }

    &--wave-smooth-green {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-smooth-green.svg);

        & p {
            width: 57.7%;
        }
    }

    &--wave-big {
        gap: 5rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../assets/images/banners/wave-big.svg);

        & p {
            width: 57.7%;
        }
    }
}
