@use '../utilities' as *;

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(120) rem(24);
    text-align: center;
    border-left: $border-default;
    border-right: $border-default;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include respond-to(laptop) {
        padding: rem(100) rem(24);
    }

    @include respond-to(mobile) {
        padding: rem(50) rem(16);
    }

    &__text {
        color: $color-grey-90;
        letter-spacing: -0.6%;
        line-height: 150%;
        max-width: 100%;

        @include respond-to(mobile) {
        font-size: rem(14);
    }
    }

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &--wave-light {
        background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../../assets/images/banners/wave-light.svg");

        & p {
            width: 63%;

            @include respond-to(laptop) {
                width: 80%;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }
    }

    &--wave-textured {
        background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../../assets/images/banners/wave-textured.svg");

        & p {
            width: 63%;

            @include respond-to(laptop) {
                width: 80%;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }
    }

    &--wave-dark-sharp {
        background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../../assets/images/banners/wave-dark-sharp.svg");

        & p {
            width: 63%;

            @include respond-to(laptop) {
                width: 80%;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }
    }

    &--wave-smooth-green {
        background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../../assets/images/banners/wave-smooth-green.svg");

        & p {
            width: 57.7%;

            @include respond-to(laptop) {
                width: 80%;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }
    }

    &--wave-big {
        gap: rem(50);
        background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../../assets/images/banners/wave-big.svg");

        @include respond-to(laptop) {
            gap: rem(40);
        }

        @include respond-to(mobile) {
            gap: rem(24);
        }

        & img {
            @include respond-to(laptop) {
                max-width: rem(60);
            }

            @include respond-to(mobile) {
                max-width: rem(48);
            }
        }

        &__button {
            padding: rem(18) rem(34);
            border-radius: rem(8);

            @include respond-to(laptop) {
                padding: rem(14) rem(24);
                border-radius: rem(6);
            }

            @include respond-to(mobile) {
                padding: rem(12) rem(20);
                border-radius: rem(6);
            }
        }

        & p {
            width: 57.7%;

            @include respond-to(laptop) {
                width: 80%;
            }

            @include respond-to(mobile) {
                width: 100%;
            }
        }
    }
}
