@use '../utilities' as *;

.button {
    font-size: rem(18);
    font-weight: 500;
    font-family: Barlow, sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: transform 0.4s;

    &-form {
        grid-column: span 2;

    }

    &s__wrapper {
        display: flex;
        flex-direction: row;
        gap: rem(13);
        margin-bottom: rem(275);
    }

    &--accent {
        background-color: $color-accent;
        color: $color-grey-15;
        border: rem(2) solid transparent;
        transition: 0.3s;

        &:hover {
            background-color: $color-green-80;
        }
    }

    &--blur {
        color: $color-light;
        background-color: rgb(36, 36, 36, 0.2);
        backdrop-filter: blur(rem(12));
        border: rem(2) solid $color-grey-20;
        transition: 0.3s;

        &:hover {
            background-color: rgb(36, 36, 36, 0.05);
            backdrop-filter: blur(rem(2));
        }
    }

    &--grey {
        background-color: $color-grey-15;
        border: none;
        transition: 0.3s;
        
        &:hover {
            background-color: $color-grey-20;
        }
    }
}
