@use 'utilities' as *;

.button {
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: transform 0.4s;

    &-form {
        grid-column: span 2;

    }

    &:hover {
        transform: scale(1.05);
    }

    &s__wrapper {
        display: flex;
        flex-direction: row;
        gap: 1.3rem;
        margin-bottom: 27.5rem;
    }

    &--accent {
        background-color: $color-accent;
        color: $color-grey-15;
        border: 0.2rem solid transparent;
        transition: 0.3s;

        &:hover {
            background-color: $color-green-80;
        }
    }

    &--blur {
        color: $color-light;
        background-color: rgba(36, 36, 36, 0.2);
        backdrop-filter: blur(1.2rem);
        border: 0.2rem solid $color-grey-20;
        transition: 0.3s;

        &:hover {
            background-color: rgba(36, 36, 36, 0.05);
            backdrop-filter: blur(0.2rem);
        }
    }

    &--grey {
        background-color: $color-grey-15;
        border: none;
        transition: 0.3s;
        
        &:hover {
            background-color: $color-grey-20;
        }
    }
}
