.card {
    border: var(--border-default);

    &__content {
        width: 100%;
        display: flex;
        gap: 4rem;
        flex-direction: column;
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 43.2rem;
    }

    &__description {
        font-family: 'Barlow';
        max-width: 100%;
        line-height: 133%;
        letter-spacing: -0.01em; 
        font-weight: 300;

    }
}
