.card-learn-more {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 57.7rem;
    border: var(--border-default);
    padding: 5rem;
    gap: 4rem;

    &__button {
        width: 100%;
        border-radius: 0.8rem;
        padding: 1.8rem 1.6rem;
        
    }
}

.card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.card__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 43.2rem;
}

.card__description {
    max-width: 100%;
    line-height: 133%;
    letter-spacing: -0.01em; 
    font-weight: 300;
}

