.company-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    max-width: 100%;
    

    &__icon {
        max-width: 100%;
        max-height: 100%;
    }
}
