.company-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    max-width: 25rem;

    &__icon {
        height: auto;
    }
}
