@use '../utilities' as *;

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: $border-default;
    padding-top: rem(40);
    padding-bottom: rem(40);
    gap: rem(20);
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: rem(18) rem(20);
  background-color: $color-grey-15;
  border-radius: rem(6);
  gap: rem(14);
}