@use '../utilities' as *;

.feedback-section {
    display: flex;
    width: 100%;
    border-top: $border-default;
    border-left: $border-default;
    border-right: $border-default;
    padding-inline: rem(268);

    @include respond-to(laptop) {
        padding-inline: rem(120);
    }

    @include respond-to(laptop-sm) {
        padding-inline: rem(40);
    }

    @include respond-to(tablet) {
        padding-inline: rem(24);
    }

    @include respond-to(mobile) {
        padding-inline: rem(16);
    }

    &__button {
        justify-self: center;
        padding: rem(18) rem(44);
        border-radius: rem(8);

        @include respond-to(laptop) {
            padding: rem(14) rem(36);
            border-radius: rem(6);
        }
    }

    &__button-form {
        grid-column: span 2;
        display: flex;
        justify-content: center;

        @include respond-to(laptop-sm) {
            grid-column: span 1;
        }
    }
}

.feedback-wrapper {
    display: grid;
    gap: rem(40);
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border-left: $border-default;
    border-right: $border-default;
    padding: rem(80);

    @include respond-to(laptop) {
        padding: rem(40);
        gap: rem(24);
    }

    @include respond-to(laptop-sm) {
        grid-template-columns: 1fr;
        padding: rem(30);
        gap: rem(20);
    }

    @include respond-to(tablet) {
        padding: rem(20);
        gap: rem(16);
    }

    @include respond-to(mobile) {
        padding: rem(16);
        gap: rem(12);
    }

    & input {
        display: flex;
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }

    &__title {
        display: flex;
        width: 100%;
        line-height: 150%;
    }

    &__description {
        display: flex;
        font-weight: 300;
    }

    &__input-name {
        display: flex;
        flex-direction: column;
        padding: rem(24) rem(40);
        border-radius: rem(8);

        @include respond-to(laptop) {
            padding: rem(20) rem(30);
            border-radius: rem(6);
        }

        @include respond-to(laptop-sm) {
            padding: rem(16) rem(20);
        }

        @include respond-to(tablet) {
            padding: rem(12) rem(16);
        }

        & .feedback-wrapper__title {
            margin-bottom: rem(20);

            @include respond-to(laptop) {
                margin-bottom: rem(16);
            }
        }

        & input {
            width: 100%;
            padding: rem(6) 0;
            border-bottom: rem(1) solid $color-grey-20;

            @include respond-to(laptop) {
                padding: rem(4) 0;
            }

            &:focus {
                padding: rem(6);
                border-bottom: rem(1) solid $color-grey-20;
                border-radius: rem(10);
                outline: none;

                @include respond-to(laptop) {
                    padding: rem(4);
                    border-radius: rem(8);
                }
            }
        }
    }

    &__input-email {
        display: flex;
        flex-direction: column;
        padding: rem(24) rem(40);
        border-radius: rem(8);

        @include respond-to(laptop) {
            padding: rem(20) rem(30);
            border-radius: rem(6);
        }

        @include respond-to(laptop-sm) {
            padding: rem(16) rem(20);
        }

        @include respond-to(tablet) {
            padding: rem(12) rem(16);
        }

        & .feedback-wrapper__title {
            margin-bottom: rem(20);

            @include respond-to(laptop) {
                margin-bottom: rem(16);
            }
        }

        & input {
            width: 100%;
            padding: rem(6) 0;
            border-bottom: rem(1) solid $color-grey-20;

            @include respond-to(laptop) {
                padding: rem(4) 0;
            }

            &:focus {
                padding: rem(6);
                border-bottom: rem(1) solid $color-grey-20;
                border-radius: rem(10);
                outline: none;

                @include respond-to(laptop) {
                    padding: rem(4);
                    border-radius: rem(8);
                }
            }
        }
    }

    &__input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: rem(24) rem(30);

        @include respond-to(laptop-sm) {
            gap: rem(20) rem(24);
        }

        @include respond-to(tablet) {
            grid-template-columns: 1fr;
            gap: rem(16);
        }
    }

    &__input-check {
        display: flex;
        flex-direction: column;
        grid-column: span 2;
        padding: rem(40);
        border-radius: rem(12);
        background-color: transparent;

        @include respond-to(laptop) {
            padding: rem(30);
            border-radius: rem(8);
        }

        @include respond-to(laptop-sm) {
            grid-column: span 1;
            padding: rem(20);
        }

        @include respond-to(tablet) {
            padding: rem(16);
        }

        & .feedback-wrapper__title {
            margin-bottom: rem(40);

            @include respond-to(laptop) {
                margin-bottom: rem(30);
            }

            @include respond-to(laptop-sm) {
                margin-bottom: rem(20);
            }
        }

        & input {
            display: flex;
            appearance: none;
            -webkit-appearance: none;
            position: relative;
            height: rem(28);
            width: rem(28);
            min-width: rem(28);
            border: rem(1) solid $color-grey-20;
            border-radius: rem(4);
            background-color: $color-grey-15;
            cursor: pointer;
            padding: rem(4);
            outline: none;
            transition: all 0.2s ease;

            @include respond-to(mobile) {
                height: rem(24);
                width: rem(24);
                min-width: rem(24);
            }

            &:checked::after {
                content: '';
                position: absolute;
                top: rem(6.5);
                left: rem(10.4);
                width: rem(5);
                height: rem(10);
                border: solid $color-accent;
                border-width: 0 rem(1) rem(1) 0;
                transform: rotate(45deg);
            }
        }

        & label {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: rem(10);
        }

        & .label-content {
            display: flex;
            font-size: rem(18);
            font-weight: 300;

            @include respond-to(laptop) {
                font-size: rem(16);
            }

            @include respond-to(mobile) {
                font-size: rem(14);
            }
        }
    }

    &__input-range {
        display: flex;
        flex-direction: column;
        grid-column: span 2;
        padding: rem(40);
        border-radius: rem(12);

        @include respond-to(laptop) {
            padding: rem(30);
            border-radius: rem(8);
        }

        @include respond-to(laptop-sm) {
            grid-column: span 1;
            padding: rem(20);
        }

        @include respond-to(tablet) {
            padding: rem(16);
        }

        & .feedback-wrapper__title {
            margin-bottom: rem(14);
        }

        & .feedback-wrapper__description {
            margin-bottom: rem(40);

            @include respond-to(laptop) {
                margin-bottom: rem(30);
            }

            @include respond-to(laptop-sm) {
                margin-bottom: rem(20);
            }
        }

        & input {
            width: 100%;
            cursor: pointer;
            accent-color: $color-accent;
            border: none;

            &:focus {
                border: none;
            }
        }
    }

    &__input-message {
        display: flex;
        flex-direction: column;
        padding: rem(24) rem(40);
        border-radius: rem(8);
        grid-column: span 2;

        @include respond-to(laptop) {
            padding: rem(20) rem(30);
            border-radius: rem(6);
        }

        @include respond-to(laptop-sm) {
            grid-column: span 1;
            padding: rem(16) rem(20);
        }

        @include respond-to(tablet) {
            padding: rem(12) rem(16);
        }

        & .feedback-wrapper__title {
            margin-bottom: rem(20);
        }

        & input {
            width: 100%;
            padding: rem(6) 0;
            border-bottom: 0.1rem solid $color-grey-20;
            margin-bottom: rem(40);

            @include respond-to(laptop-sm) {
                margin-bottom: rem(20);
            }

            &:focus {
                padding: rem(6);
                border-bottom: rem(1) solid $color-grey-20;
                border-radius: rem(10);
                outline: none;

                @include respond-to(laptop) {
                    padding: rem(4);
                    border-radius: rem(8);
                }
            }
        }
    }

    &__slab {
        display: flex;
        flex-direction: column;
        background-color: $color-grey-11;
        border: $border-default;
        width: 100%;
    }
}

.input-message__line {
    display: flex;
    width: 100%;
    border-bottom: rem(1) solid $color-grey-20;
}
