.feedback-section {
    display: flex;
    width: 100%;
    border: var(--border-default);
    padding-inline: 26.8rem;
    
    &__button {
        justify-self: center;
        padding: 1.8rem 4.4rem;
        border-radius: 0.8rem;

        &-form {
            grid-column: span 2;
            display: flex;
            justify-content: center;
        }
    }
}

.feedback-wrapper {
    display: grid;
    row-gap: 4rem;
    column-gap: 4rem;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border-left: var(--border-default);
    border-right: var(--border-default);
    padding: 8rem;

    & input {
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }

    &__title {
        width: 100%;
        line-height: 150%;
    }

    &__description {
        font-weight: 300;
    }

    &__input-name {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;

        & .feedback-wrapper__title {
            margin-bottom: 2rem;
        }
        
        & input {
            padding: 0.6rem 0;
            border-bottom: 0.1rem solid var(--grey-20);

            &:focus {
                padding: 0.6rem 0.6rem;
                border-bottom: 0.1rem solid var(--grey-20);
                border-radius: 1rem;
                outline: none;
            }
        }
    }
    
    &__input-email {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;

        & .feedback-wrapper__title {
            margin-bottom: 2rem;
        }

        & input {
            padding: 0.6rem 0;
            border-bottom: 0.1rem solid var(--grey-20);

            &:focus {
                padding: 0.6rem 0.6rem;
                border-bottom: 0.1rem solid var(--grey-20);
                border-radius: 1rem;
                outline: none;
            }

        }
    }

    &__input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        row-gap: 2.4rem;
        column-gap: 2rem;
    }

    &__input-check {
        display: grid;
        grid-column: span 2;
        padding: 4rem;
        border-radius: 1.2rem;
        background-color: transparent;

        & .feedback-wrapper__title {
            margin-bottom: 4rem;
        }

        & input {
            appearance: none;
            -webkit-appearance: none;
            position: relative;
            height: 2.8rem;
            width: 2.8rem;
            border: 0.1rem solid var(--grey-20);
            border-radius: 0.4rem;
            background-color: var(--grey-15);
            cursor: pointer;
            padding: 0.4rem;
            outline: none;
            transition: all 0.2s ease;

            &:checked::after {
                content: '';
                position: absolute;
                top: 0.5rem;
                left: 1rem;
                width: 0.5rem;
                height: 1rem;
                border: solid var(--accent-color);
                border-width: 0 0.1rem 0.1rem 0;
                transform: rotate(45deg);
            }
        }

        & label {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: 1rem;
        }

        & .label-content {
            font-size: 1.8rem;
            font-weight: 300;

        }
    }

    &__input-range {
        display: flex;
        grid-column: span 2;
        padding: 4rem;
        border-radius: 1.2rem;

        & .feedback-wrapper__title {
            margin-bottom: 1.4rem;
        }

        & .feedback-wrapper__description {
            margin-bottom: 4rem;
        }

        & input {
            cursor: grabbing;
            accent-color: var(--accent-color);
            border: none;

            &:focus {
                border: none;
            }
        }
    }

    &__input-message {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
        grid-column: span 2;

        & .feedback-wrapper__title {
            margin-bottom: 2rem;
        }

        & input {
            padding: 0.6rem 0;
            border-bottom: 0.1rem solid var(--grey-20);
            margin-bottom: 4rem;

            &:focus {
                padding: 0.6rem 0.6rem;
                border-bottom: 0.1rem solid var(--grey-20);
                border-radius: 1rem;
                outline: none;
            }
        }
    }

    &__slab {
        display: flex;
        flex-direction: column;
        background-color: var(--grey-11);
        border: var(--border-default);
        width: 100%;
    }
}

.input-message__line {
    display: flex;
    width: 100%;
    border-bottom: 0.1rem solid var(--grey-20);
}
