.feedback-section {
    display: flex;
    width: 100%;
    border: var(--border-default);
    padding-inline: 26.8rem;
    
    
    &__button {
        justify-self: center;
        padding: 1.8rem 4.4rem;
        border-radius: 0.8rem;

        &-form {
            grid-column: span 2;
            display: flex;
            justify-content: center;
        }
    }
}

.feedback-wrapper {
    display: grid;
    row-gap: 4rem;
    column-gap: 4rem;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border-left: var(--border-default);
    border-right: var(--border-default);
    padding: 8rem;

    & input {
        background-color: transparent;
    }

    &__title {
        width: 100%;
        line-height: 150%;
    }

    &__description {
        font-weight: 300;
    }

    &__input-name {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
    }
    
    &__input-email {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
    }

    &__input-wrapper {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        width: 100%;
    }

    &__input-check {
        display: flex;
        grid-column: span 2;
        padding: 4rem;
        border-radius: 1.2rem;
        width: 100%;
    }

    &__input-range {
        display: flex;
        grid-column: span 2;
        padding: 4rem;
        border-radius: 1.2rem;

        & input {
            cursor: grabbing;
            accent-color: var(--accent-color);
        }
    }


    &__input-message {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
        grid-column: span 2;
    }

    &__slab {
        display: flex;
        flex-direction: column;
        background-color: var(--grey-11);
        border: var(--border-default);
        width: 100%;
    }
}