@use '../utilities' as *;

.feedback-section {
    display: flex;
    width: 100%;
    border-top: $border-default;
    border-left: $border-default;
    border-right: $border-default;
    padding-inline: rem(268);
    
    &__button {
        justify-self: center;
        padding: rem(18) rem(44);
        border-radius: rem(8);

        &-form {
            grid-column: span 2;
            display: flex;
            justify-content: center;
        }
    }
}

.feedback-wrapper {
    display: grid;
    gap: rem(40);
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    border-left: $border-default;
    border-right: $border-default;
    padding: rem(80);

    & input {
        background-color: transparent;
        transition: all 0.2s ease-in-out;
    }

    &__title {
        width: 100%;
        line-height: 150%;
    }

    &__description {
        font-weight: 300;
    }

    &__input-name {
        padding: rem(24) rem(40);
        border-radius: rem(8);

        & .feedback-wrapper__title {
            margin-bottom: rem(20);
        }
        
        & input {
            padding: rem(6) 0;
            border-bottom: rem(1) solid $color-grey-20;

            &:focus {
                padding: rem(6);
                border-bottom: rem(1) solid $color-grey-20;
                border-radius: rem(10);
                outline: none;
            }
        }
    }
    
    &__input-email {
        padding: rem(24) rem(40);
        border-radius: rem(8);

        & .feedback-wrapper__title {
            margin-bottom: rem(20);
        }

        & input {
            padding: rem(6) 0;
            border-bottom: rem(1) solid $color-grey-20;

            &:focus {
                padding: rem(6);
                border-bottom: rem(1) solid $color-grey-20;
                border-radius: rem(10);
                outline: none;
            }
        }
    }

    &__input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: rem(24) rem(20);
    }

    &__input-check {
        display: grid;
        grid-column: span 2;
        padding: rem(40);
        border-radius: rem(12);
        background-color: transparent;

        & .feedback-wrapper__title {
            margin-bottom: rem(40);
        }

        & input {
            appearance: none;
            -webkit-appearance: none;
            position: relative;
            height: rem(28);
            width: rem(28);
            border: rem(1) solid $color-grey-20;
            border-radius: rem(4);
            background-color: $color-grey-15;
            cursor: pointer;
            padding: rem(4);
            outline: none;
            transition: all 0.2s ease;

            &:checked::after {
                content: '';
                position: absolute;
                top: rem(6.5);
                left: rem(10.4);
                width: rem(5);
                height: rem(10);
                border: solid $color-accent;
                border-width: 0 rem(1) rem(1) 0;
                transform: rotate(45deg);
            }
        }

        & label {
            display: flex;
            align-items: center;
            cursor: pointer;
            gap: rem(10);
        }

        & .label-content {
            font-size: rem(18);
            font-weight: 300;

        }
    }

    &__input-range {
        display: flex;
        grid-column: span 2;
        padding: rem(40);
        border-radius: rem(12);

        & .feedback-wrapper__title {
            margin-bottom: rem(14);
        }

        & .feedback-wrapper__description {
            margin-bottom: rem(40);
        }

        & input {
            cursor: grabbing;
            accent-color: $color-accent;
            border: none;

            &:focus {
                border: none;
            }
        }
    }

    &__input-message {
        padding: rem(24) rem(40);
        border-radius: rem(8);
        grid-column: span 2;

        & .feedback-wrapper__title {
            margin-bottom: rem(20);
        }

        & input {
            padding: rem(6) 0;
            border-bottom: 0.1rem solid $color-grey-20;
            margin-bottom: rem(40);

            &:focus {
                padding: rem(6);
                border-bottom: rem(1) solid $color-grey-20;
                border-radius: rem(10);
                outline: none;
            }
        }
    }

    &__slab {
        display: flex;
        flex-direction: column;
        background-color: $color-grey-11;
        border: $border-default;
        width: 100%;
    }
}

.input-message__line {
    display: flex;
    width: 100%;
    border-bottom: rem(1) solid $color-grey-20;
}
