.feedback-section {
    border: var(--border-default);
    padding-inline: 26.8rem;

    &__button {
        padding: 1.8rem 4.4rem;
        border-radius: 0.8rem;
    }
}

.feedback-wrapper {
    display: grid;
    row-gap: 4rem;
    column-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    border-left: var(--border-default);
    border-right: var(--border-default);
    padding: 8rem;

    & input {
        background-color: transparent;
    }

    &__title {
        width: 100%;
        line-height: 150%;
    }

    &__input-name {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
    }
    
    &__input-email {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
    }

    &__input-wrapper {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        width: 100%;
    }

    &__input-check {
        display: flex;
        grid-column: span 2;
        padding: 4rem;
        border-radius: 1.2rem;
        width: 100%;
    }

    &__*** {
        padding: 4rem;
        border-radius: 1.2rem;
    }


    &__input-message {
        padding: 2.4rem 4rem;
        border-radius: 0.8rem;
    }

    &__slab {
        display: flex;
        flex-direction: column;
        background-color: var(--grey-11);
        border: var(--border-default);
        width: 100%;
    }
}