@use '../utilities' as *;

.footer {
    display: flex;
    flex-direction: column;
    padding: rem(50) rem(162);
    border-top: $border-default;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: rem(50);

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    &__soc1als-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: rem(14) rem(14) rem(14) rem(24);
        border: $border-default;
        border-radius: rem(12);
        gap: rem(20);
    }

    &__soc1als {
        display: flex;
        flex-direction: row;
        gap: rem(14);
    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        gap: rem(30);
    }

    &__line {
        width: 100%;
        border-top: $border-default;
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        gap: rem(30);
    }
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(10);
    padding-bottom: rem(16);
    border-bottom: $border-default;
}

.copyright {
    user-select: none;
    color: $color-grey-60;
}