.footer {
    display: flex;
    flex-direction: column;
    padding: 5rem 16.2rem;
    border-top: var(--border-default);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 5rem;

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

    }

    &__soc1als-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.4rem 1.4rem 1.4rem 2.4rem;
        border: var(--border-default);
        border-radius: 1.2rem;
        gap: 2rem;
    }

    &__soc1als {
        display: flex;
        flex-direction: row;
        gap: 1.4rem;
    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    &__line {
        width: 100%;
        border-top: var(--border-default);
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.6rem;
    border-bottom: var(--border-default);
}

.copyright {
    user-select: none;
    color: var(--grey-60);
}