@use '../utilities' as *;

.frame {
    display: flex;
    flex-direction: column;
    border: $border-default;
    width: 100%;

    &__header {
        display: flex;
        gap: rem(20);
        align-items: center;
    }

    &__description {
        font-size: rem(20);
    }
}
