.frame {
    display: flex;
    flex-direction: column;
    border: var(--border-default);
    width: 100%;

    &__header {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__description {
        font-size: 2rem;
    }
}
