@use '../utilities' as *;

.hero-section {
    background-image: url("../../assets/images/banners/hero-section-background.svg");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    width: 100%;
    padding-top: rem(112);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-left: $border-default;
    border-right: $border-default;

    &__button {
        padding: rem(18) rem(28);
        border-radius: rem(10);
    }

    &__promo {
        border: rem(1) solid $color-grey-15;
        border-radius: rem(12);
        padding: rem(24) rem(40);
        background: rgb(36, 36, 36, 0.2);
        backdrop-filter: blur(rem(12));
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: rem(50);
    }
}

.promo__text {
    display: flex;
    color: $color-grey-60;
    font-size: rem(22);
    font-weight: 400;
    gap: rem(6);
    align-items: center;
}

.promo__card {
    font-size: rem(22);
    background-color: $color-grey-15;
    color: $color-light;
    padding: rem(12) rem(14);
    border: none;
    border-radius: rem(8);
}
