.partners-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 4rem 0;
    background-color: var(--grey-10);
    border: var(--border-default);
    gap: 2rem;

    &__count {
        text-align: center;
        background-color: var(--background-color);
        padding: 2rem 3.4rem;
        max-width: 32rem;
        border: var(--border-default);
        border-radius: 10rem;
        position: absolute;
        left: calc(50% - 14.3rem);
        top: calc(-3.3rem);
    }
}

.count__text {
    width: 100%;
    font-weight: 500;
}

.partner-card {
    padding: 0rem 4rem;
    margin: 2rem 0rem;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
