@use '../utilities' as *;

.partners-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
    padding: rem(40) 0;
    background-color: $color-grey-10;
    border: $border-default;
    gap: rem(20);

    @include respond-to(laptop) {
        padding: rem(30) 0;
    }

    @include respond-to(laptop-sm) {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(15);
    }

    @include respond-to(tablet) {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(10);
        padding: rem(20) 0;
    }

    &__count {
        text-align: center;
        background-color: $color-background;
        padding: rem(20) rem(34);
        max-width: rem(320);
        border: $border-default;
        border-radius: rem(100);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(-2.0625rem);

        @include respond-to(laptop) {
            padding: rem(14) rem(24);
        }
    }
}

.count__text {
    width: 100%;
    font-weight: 500;
    white-space: nowrap;
}

.partner-card {
    padding: 0 rem(40);
    margin: rem(20) 0;
    max-width: 100%;
    max-height: rem(40);
    object-fit: contain;
    width: auto;
    justify-self: center;

    @include respond-to(laptop) {
        padding: 0 rem(30);
        max-height: rem(36);
    }

    @include respond-to(laptop-sm) {
        padding: 0 rem(40);
        margin: rem(15) 0;
        max-height: rem(32);
    }

    @include respond-to(tablet) {
        padding: 0 rem(30);
        margin: rem(10) 0;
        max-height: rem(30);
    }
}
