.review-section {
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;

    &__frame {
        padding: 8rem;
    }

    &__description {
        margin-top: 4rem;
        font-weight: 300;
    }
}
