.services-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: auto;
        padding: 5rem;
        gap: 8rem;
    }

    &__button {
        border-radius: 0.8rem; 
        padding: 1.8rem 1.6rem;
        width: 100%;
    }
}
