.services-section {
    display: flex;
    flex-direction: row;
    width: 100%;

    &__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 57.7rem;
        padding: 5rem;
        gap: 4rem;
    }

    &__button {
        width: 100%;
        border-radius: 0.8rem;
        padding: 1.8rem 1.6rem;
    }
}
