@use '../utilities' as *;

.testimonial-section {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;

    @include respond-to(tablet) {
        grid-template-columns: 1fr;
    }
}
