$border-default: 0.1rem solid #262626;
$color-accent: #9EFF00;
$color-background: #191919;
$color-grey-90: #E6E6E6;
$color-grey-60: #98989A;
$color-grey-40: #656567;
$color-grey-35: #59595A;
$color-grey-30: #4C4C4D;
$color-grey-20: #333;
$color-grey-17: #1E1E1E;
$color-grey-15: #262626;
$color-grey-12: #222;
$color-grey-11: #1F1F1F;
$color-grey-10: #191919;
$color-green-80: #D8FF99;
$color-green-70: #C5FF66;
$color-light: #fff;
$color-dark: #000;