@use '../utilities' as *;

* {
  font-size: rem(18);
  font-family: Barlow, sans-serif;
  font-weight: 400;
  color: $color-light;
  box-sizing: border-box;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(rem(20));
}

p::selection {
  color: $color-accent;
}

p::-moz-selection {
    color: $color-accent;
  }

body {
  background-color: $color-background;
}


main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: rem(162);
}

h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: 600;
}

h1, .h1 {
  font-size: rem(68);
  margin-bottom: rem(40);

  &::selection {
    color: $color-accent;
  }

  &::-moz-selection {
    color: $color-accent;
  }

}

.h2, h2 {
  font-size: rem(48);
  margin-bottom: rem(10);

  &::selection {
    color: $color-accent;
  }

  &::-moz-selection {
    color: $color-accent;
  }
}

.h3, h3 {
  font-size: rem(30);

  &::selection {
    color: $color-accent;
  }
  
  &::-moz-selection {
    color: $color-accent;
  }
}

.h4, h4 {
  font-size: rem(26);

  &::selection {
    color: $color-accent;
  }

  &::-moz-selection {
    color: $color-accent;
  }
}

.h5, h5 {
  font-size: rem(28);

  &::selection {
    color: $color-accent;
  }

  &::-moz-selection {
    color: $color-accent;
  }
}

.h6, h6 {
  font-size: rem(22);

  &::selection {
    color: $color-accent;
  }

  &::-moz-selection {
    color: $color-accent;
  }
}

input {
  background-color: $color-background;
  border: none;

  &::placeholder {
    color: $color-grey-40;
  }

}

img {
  object-fit: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  outline: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
}