@use '../utilities/index' as *;

.footer {
    display: flex;
    flex-direction: column;
    padding: rem(50) rem(162);
    border-top: $border-default;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: rem(50);

    @include respond-to(laptop) {
        padding: rem(40) rem(60);
        gap: rem(40);
    }

    @include respond-to(laptop-sm) {
        padding: rem(30) rem(40);
        gap: rem(30);
    }

    @include respond-to(mobile) {
        padding: rem(24) rem(16);
        gap: rem(24);
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: rem(30);

        @include respond-to(laptop) {
            gap: rem(20);
        }

        @include respond-to(laptop-sm) {
            flex-direction: column;
            gap: rem(24);
        }

        @include respond-to(mobile) {
            gap: rem(20);
        }

        & img {
            @include respond-to(laptop) {
                max-width: rem(119);
            }

            @include respond-to(laptop-sm) {
                max-width: rem(140);
            }
        }
    }

    &__brand {
        display: flex;
        align-items: center;
    }

    &__menu-list {
        display: flex;
        flex-flow: row wrap;
        gap: rem(30);
        justify-content: center;

        @include respond-to(laptop) {
            gap: rem(20);
        }

        @include respond-to(laptop-sm) {
            gap: rem(16);
        }

        @include respond-to(mobile) {
            gap: rem(12);
        }
    }

    &__line {
        width: 100%;
        border-top: $border-default;
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: rem(20);

        @include respond-to(laptop-sm) {
            flex-direction: column;
            align-items: center;
            gap: rem(24);
            border-top: $border-default;
            padding-top: rem(24);
        }

        @include respond-to(mobile) {
            gap: rem(20);
            padding-top: rem(20);
        }
    }

    &__contacts {
        display: flex;
        flex-flow: row wrap;
        gap: rem(30);
        justify-content: flex-start;

        @include respond-to(laptop) {
            gap: rem(20);
        }

        @include respond-to(laptop-sm) {
            flex-direction: column;
            align-items: center;
            gap: rem(24);
            justify-content: center;
        }

        @include respond-to(mobile) {
            gap: rem(20);
        }
    }
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(10);
    padding-bottom: rem(16);
    border-bottom: $border-default;

    @include respond-to(laptop) {
        gap: rem(6);
        padding-bottom: rem(12);
    }

    @include respond-to(laptop-sm) {
        width: 100%;
        justify-content: center;
    }

    @include respond-to(mobile) {
        padding-bottom: rem(10);
    }

    & img {
        @include respond-to(laptop) {
            max-width: rem(20);
        }
    }
}

.copyright {
    user-select: none;
    color: $color-grey-60;
}
