@use '../utilities/index' as *;

.footer {
    display: flex;
    flex-direction: column;
    padding: rem(50) rem(162);
    border-top: $border-default;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: rem(50);

    @include respond-to(laptop) {
        padding: rem(40) rem(80);
        gap: rem(40);
    }

    &__inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & img {
            @include respond-to(laptop) {
                max-width: rem(119);
            }
        }

    }

    &__menu-list {
        display: flex;
        flex-direction: row;
        gap: rem(30);

        @include respond-to(laptop) {
            padding: rem(20);
        }
    }

    &__line {
        width: 100%;
        border-top: $border-default;
    }

    &__copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__contacts {
        display: flex;
        flex-direction: row;
        gap: rem(30);

        @include respond-to(laptop) {
            gap: rem(22);
        }
    }
}

.contacts__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(10);
    padding-bottom: rem(16);
    border-bottom: $border-default;

    @include respond-to(laptop) {
        gap: rem(6);
        padding-bottom: rem(12);
    }

    & img {
        @include respond-to(laptop) {
            max-width: rem(20);
        }
    }
}

.copyright {
    user-select: none;
    color: $color-grey-60;
}