<section class="accordion-section">
    <div class="accordion-column">
        <div class="empty-cell">

        </div>
        @@include('./_accordion.html', {
            "number": "01",
            "accordion__title": "What services does SquareUp provide?",
            "text": "SquareUp offers a range of services including design, engineering, and project management. We specialize in user experience design, web development, mobile app development, custom software development, branding and identity, and more.",
            "icon--modifier": "icon--medium",
        })
        @@include('./_accordion.html', {
            "number": "02",
            "accordion__title": "How can SquareUp help my business?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        @@include('./_accordion.html', {
            "number": "03",
            "accordion__title": "What industries does SquareUp work with?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        @@include('./_accordion.html', {
            "number": "04",
            "accordion__title": "How long does it take to complete a project with SquareUp?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        <div class="empty-cell">

        </div>

    </div>
    <div class="accordion-column">
        <div class="empty-cell">

        </div>
        @@include('./_accordion.html', {
            "number": "05",
            "accordion__title": "Do you offer ongoing support and maintenance after the project is completed?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        @@include('./_accordion.html', {
            "number": "06",
            "accordion__title": "Can you work with existing design or development frameworks?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        @@include('./_accordion.html', {
            "number": "07",
            "accordion__title": "How involved will I be in the project development process?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        @@include('./_accordion.html', {
            "number": "08",
            "accordion__title": "Can you help with website or app maintenance and updates?",
            "text": "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis repellat, dignissimos repudiandae mollitia ea nesciunt dolore accusamus perferendis expedita recusandae quisquam aspernatur magnam aliquam, autem fuga veritatis minus rem reprehenderit?",
            "icon--modifier": "icon--medium",
        })
        <div class="empty-cell">

        </div>
    </div>
</section>