<section class="companies-section">
    <div class="companies-section__count">
        <p class="count__text">Trusted By 250+ Companies</p>
    </div>
    @@include('./_company-card.html', {
        "img": "./assets/images/zapier-icon",
        "alt": "zapier",
        })
    @@include('./_company-card.html', {
        "img": "./assets/images/spotify-icon",
        "alt": "spotify",
        })
    @@include('./_company-card.html', {
        "img": "./assets/images/zoom-icon",
        "alt": "zoom",
        })
    @@include('./_company-card.html', {
        "img": "./assets/images/slack-icon",
        "alt": "slack",
        })
    @@include('./_company-card.html', {
        "img": "./assets/images/amazon-icon",
        "alt": "amazon",
        })
    @@include('./_company-card.html', {
        "img": "./assets/images/adobe-icon",
        "alt": "adobe",
        })
</section>
