<section class="cta-section">
    <div class="cta-section__header">
        <img src="./assets/images/logo.svg" alt="" class="logo--big">
        <div class="cta-section__text">
            <h3 class="cta-section__title h3">Today, SquareUp Continues to Thrive as a Leading Digital Product Agency.....</h3>
            <p class="cta-section__description">Combining the power of design, engineering, and project management to create transformative digital experiences. They invite you to join them on their journey and discover how they can help bring your digital ideas to life.</p>
        </div>
    </div>
    <div class="cta-section__footer">
        <p class="cta-section__footer-text">Welcome to SquareUp <span>Where collaboration, Expertise, and Client-Centricity Intersect to Shape the Future of Digital Innovation.</span></p>
        @@include('./_button.html', {
        "title": "Start Project",
        "link": "#",
        "block__element": "banner--wave-big__button",
        "block--modifier": "button--accent",
        })
    </div>
</section>