<footer class="footer">
    <div class="footer__inner">
        <img src="@@img.svg" alt="@@alt" draggable="false">
        <nav class="footer__menu-list">
            <li class="menu-list__item"><a href="index.html" class="menu-list__link">Home</a></li>
            <li class="menu-list__item"><a href="services.html" class="menu-list__link">Services</a></li>
            <li class="menu-list__item"><a href="work.html" class="menu-list__link">Work</a></li>
            <li class="menu-list__item"><a href="process.html" class="menu-list__link">Process</a></li>
            <li class="menu-list__item"><a href="about.html" class="menu-list__link">About</a></li>
            <li class="menu-list__item"><a href="careers.html" class="menu-list__link">Careers</a></li>
            <li class="menu-list__item"><a href="contact.html" class="menu-list__link">Contact</a></li>
        </nav>

        <div class="footer__soc1als-wrapper">
            <p>Stay Connected</p>
            <div class="footer__soc1als">
                @@include('./_icon.html', {
                    "img": "./assets/icons/facebook",
                    "alt": "facebook",
                    "icon--modifier": "icon--small",
                })
                @@include('./_icon.html', {
                    "img": "./assets/icons/twitter",
                    "alt": "twitter",
                    "icon--modifier": "icon--small",
                })
                @@include('./_icon.html', {
                    "img": "./assets/icons/linkedin",
                    "alt": "lindedin",
                    "icon--modifier": "icon--small",
                })
            </div>
        </div>
    </div>
    <span class="footer__line"></span>
    <div class="footer__copyright">
        <div class="footer__contacts">
            <p class="contacts__item"><img src="./assets/icons/email.svg" alt="email">hello@squareup.com</p>
            <p class="contacts__item"><img src="./assets/icons/phone.svg" alt="phone">+91 91813 23 2309</p>
            <p class="contacts__item"><img src="./assets/icons/location.svg" alt="location">Somewhere in the World</p>
        </div>
        <p class="copyright">© 2023 SquareUp. All rights reserved.</p>
    </div>
</footer>