<header class="header">
    <div class="header__body">
        <a href="@@link">
            <img src="@@img.svg" alt="@@alt" draggable="false">
        </a>    
        <nav class="header__menu-list">
            <li class="menu-list__item"><a href="index.html" class="menu-list__link @@home">Home</a></li>
            <li class="menu-list__item"><a href="services.html" class="menu-list__link @@services">Services</a></li>
            <li class="menu-list__item"><a href="work.html" class="menu-list__link @@work">Work</a></li>
            <li class="menu-list__item"><a href="process.html" class="menu-list__link @@process">Process</a></li>
            <li class="menu-list__item"><a href="about.html" class="menu-list__link @@about">About</a></li>
            <li class="menu-list__item"><a href="careers.html" class="menu-list__link @@careers">Careers</a></li>
        </nav>

        @@include('./_button.html', {
            "title": "Contact Us",
            "link": "#",
            "block__element": "header__button",
            "block--modifier": "button--accent",
            })
    </div>
</header>
