<section class="partners-section">
    <div class="partners-section__count">
        <p class="count__text">Trusted By 250+ Companies</p>
    </div>
    <img src="./assets/images/partners/zapier.svg" alt="@@alt" class="partner-card" draggable="false">
    <img src="./assets/images/partners/spotify.svg" alt="@@alt" class="partner-card" draggable="false">
    <img src="./assets/images/partners/zoom.svg" alt="@@alt" class="partner-card" draggable="false">
    <img src="./assets/images/partners/slack.svg" alt="@@alt" class="partner-card" draggable="false">
    <img src="./assets/images/partners/amazon.svg" alt="@@alt" class="partner-card" draggable="false">
    <img src="./assets/images/partners/adobe.svg" alt="@@alt" class="partner-card" draggable="false">
</section>