<section class="review-section">
        @@include('./_frame.html', {
                "block__frame": "review-section__frame",
                "img": "./assets/images/expertise",
                "alt": "expertise",
                "title": "Expertise",
                "description": "Our team consists of highly skilled professionals who have a deep understanding of the digital landscape. We stay updated with the latest industry trends and best practices to deliver cutting-edge solutions.",
                "block__description": "review-section__description",
                "icon--modifier": "icon--green",
                })

        @@include('./_frame.html', {
                "block__frame": "review-section__frame",
                "img": "./assets/images/client",
                "alt/title": "client",
                "title": "Client-Centric Approach",
                "description": "We prioritize our clients and their unique needs. We listen to your ideas, challenges, and goals, and tailor our services to meet your specific requirements. Your success is our success.",
                "block__description": "review-section__description",
                "icon--modifier": "icon--green",
                })

        @@include('./_frame.html', {
                "block__frame": "review-section__frame",
                "img": "./assets/images/solutions",
                "alt": "solutions",
                "title": "Results-Driven Solutions",
                "description": "Our primary focus is on delivering results. We combine creativity and technical expertise to create digital products that drive business growth, enhance user experiences, and provide a competitive advantage.",
                "block__description": "review-section__description",
                "icon--modifier": "icon--green",
                })

        @@include('./_frame.html', {
                "block__frame": "review-section__frame",
                "img": "./assets/images/partnership",
                "alt": "partnership",
                "title": "Collaborative Partnership",
                "description": "We value long-term relationships with our clients. We see ourselves as your digital partner, providing ongoing support, maintenance, and updates to ensure your digital products continue to thrive.",
                "block__description": "review-section__description",
                "icon--modifier": "icon--green",
                })
</section>
