<div class="soc1als-wrapper">
    <p>Stay Connected</p>
    <div class="soc1als">
        @@include('./_icon.html', {
        "img": "./assets/icons/facebook",
        "alt": "facebook",
        "icon--modifier": "icon--small",
        })
        @@include('./_icon.html', {
        "img": "./assets/icons/twitter",
        "alt": "twitter",
        "icon--modifier": "icon--small",
        })
        @@include('./_icon.html', {
        "img": "./assets/icons/linkedin",
        "alt": "linkdedin",
        "icon--modifier": "icon--small",
        })
    </div>
</div>